*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    height: 100vh;
    width: 100%;
    background-color: white;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 25px;
}

.loader span{
    width: 30px;
    height: 30px;
    animation: up 0.9s infinite cubic-bezier(0.41, 0.02, 0, 1.15);
}
.circle{
    border-radius: 50%;
    background-color: #EDC240;
}

.triangle{
    width: 0px; 
    height: 0px; 
    border-left: 20px solid transparent !important;
    border-right: 20px solid transparent !important;
    border-bottom: 30px solid #284D4D;
    animation-delay: 0.2s !important;
}


.sqaure{
    background-color:#DE4F2E;
    animation-delay: 0.5s !important;
}

@keyframes up {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0px);
    }
}